# DofusBuilder Frontend/src/res/items0/*.png
# DofusBuilder Frontend/src/res/items/**/*.png
api.conf
.remote-sync.json
bin/
*.jar


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
