<template>
  <require from="/src/components/header.css"></require>
  <!--
  <nav class="navbar navbar-dark navbar-expand-sm bg-dark flex-md-nowrap p-0 shadow topbar">
    <div>
      <ul class="navbar-nav navlist">
        <li class="nav-item text-nowrap barItem"><a href="/">Home</a></li>
        <li class="nav-item text-nowrap barItem"><a href="/build">Profile</a></li>
        <li class="nav-item text-nowrap barItem"><a href="/builds">Builds</a></li>
        <li class="nav-item text-nowrap barItem"><a href="/items">Items</a></li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg">
    <!-- navbar navbar-expand-lg navbar-dark"> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <ul class="navbar-nav ml-0">

      <!-- <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/builds">Builds</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/build">Build</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/items">Items</a>
      </li>

    </ul>

  </nav>

</template>