
/* ---- grid ---- */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-wrapper {
  width: 100%;
  height: 100%;
  min-height: 1000px;
}
.grid {
  margin: 0 auto;
  /* min-width: 540;
  min-height: 1000px; */
}

/* clearfix */
 /* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

/* ---- grid-item ---- */
.grid-item {
  float: left;
  width: 260px;
  /* min-height: 150px; */

  /* padding: 5px; */
  /* margin: 5px;  /* masonry does not respect left & right margins, so we need to use gutter : 10 instead */
  margin-bottom: 10px; /* and to add a margin-bottom for vertical gutter (this is respected by masonry) */
}
